*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


html{
  
  background: #3936C0;
}


img{
  margin-top: 62.74px;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 45px;
}

textarea{
  font-weight: 600;
  padding-top: 16px;
  padding-left: 15px;
  font-size: 15px;
  color: rgba(15, 45, 82, 0.65);
  border-radius: 10px;
  width: 342px;
  height: 138px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

button {
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  width: 359px;
  height: 64px;
  background:black;
  color:white;
  font-weight: bold;
  font-size: 17px;
  line-height: 2px;
  display: block;
  text-align: center;
  margin-bottom: 41px;
  border: none;
  cursor: pointer;
}


button:active{
  opacity: 0.6;
}

li{
  font-weight: 700;
  border-radius: 10px;
  padding-top: 8px;
  padding-left: 7px;
  font-size: 17px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 352px;
  height: 56px;
  margin-bottom: 19px;
  background: rgba(255, 255, 255, 0.14);
}
